html,
body {
  margin: 0;
}
header {
  height: 618px
}
.header-image {
  background: url(/Users/wendyvalladares/Documents/HairSalon-Website/img/header-image.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
}
.container {
  padding-top: 10px;
}
nav {
  padding-top: 0 !important;
}
.navbar-nav {
  text-align: center;
}
.nav-link{
  color: #fff !important;
  padding: 8px 35px !important;
  font: 17px 'Coustard', serif;
  text-transform: uppercase;
}
.nav-link:hover {
  opacity: 0.6;
}
h1 {
  text-align: center;
  margin-bottom: 0 !important;
}
.logo {
  color: #000;
  font: 40px 'Homemade Apple', cursive;
}
.logo:hover {
  text-decoration: none;
  color: #000;
}
.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  outline: none;
}
/*start of the about us section*/
h2 {
  text-align: center;
  text-transform: capitalize;
  font: 32px 'Coustard', serif !important;
}
.about-us {
  margin: 50px;
}
.about-content {
  display: block;
  text-align: justify;
  margin: 30px 50px 0 50px;
  font: 17px 'Lato', sans-serif;
  line-height: 1.4;
}
/*start of the our services section*/
.services-main{
  margin: 100px 50px 50px;
}
.service-content {
  display: block;
  text-align: justify;
  margin: 30px 50px 0 50px;
  font: 17px 'Lato', sans-serif;
  line-height: 1.4;
}
.service-section {
  height: 400px;
  background-color: #f6f4f4;
}
.service-img {
  height: 400px;
}
