html,
body {
  margin: 0;
}
#index-header {
  height: 618px
}
.header-image {
  background-image: url('https://source.unsplash.com/rNPfyRYqjHY');
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.container {
  padding-top: 10px;
}
nav {
  padding-top: 0 !important;
}
.navbar-nav {
  text-align: center;
}
.index-links {
  color: #fff !important;
}
.nav-link{
  padding: 8px 35px !important;
  font: 16px 'Coustard', serif;
  text-transform: uppercase;
}
.nav-link:hover {
  opacity: 0.6;
}
h1 {
  text-align: center;
  margin-bottom: 15px !important;
}
.logo {
  color: #fff;
  font: 48px 'Abril Fatface', cursive;
}
.logo:hover {
  text-decoration: none;
  color: #fff;
}
.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  outline: none;
}
#header-button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}
#index-button {
  border: 2.5px solid #fff;
  font-family: 'Coustard', serif;
  color: #fff;
}
#index-button:hover {
  background-color: #000
}
/*start of the about us section*/
.section-title {
  text-align: center;
  text-transform: capitalize;
  font: 30px 'Lato', sans-serif !important;
}
.about-us {
  margin: 50px;
}
.about-content {
  display: block;
  text-align: justify;
  margin: 30px 50px 0 50px;
  font: 17px 'Lato', sans-serif;
  line-height: 1.4;
}
/*start of the our services section*/
.services-main{
  margin: 100px 50px 50px;
}
.service-content {
  display: block;
  text-align: justify;
  margin: 30px 50px 0 50px;
  font: 17px 'Lato', sans-serif;
  line-height: 1.4;
}
.service-section {
  height: 400px;
  background-color: #f6f4f4;
  padding-top: 50px;
}
.service-img-container {
  height: 400px;
}
#service-img-one {
  height: auto;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#service-img-two{
  height: 400px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.serv-title {
  font: 24px 'Lato', sans-serif;
}
.serv-info {
  display: block;
  margin: 0 auto;
  text-align: justify;
  width: 164px;
  font: 17px 'Lato', sans-serif;
}
.serv-line {
  width: 300px;
  border: .5px solid black;
}
/*start of the image section*/
.img-section {
  padding: 0 70px;
}
.img-area {
  margin: 60px 0;
}
.img-card {
  height: 200px;
  border-radius: 0 !important;
}
/*start of the footer*/
.footer-image {
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
}
.footer-info {
  background-color: #f6f4f4;
  padding: 30px 0;
}
.salon-info {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}
.salon-text {
  font:18px 'Lato', sans-serif;
}
.footer-titles {
  font: 20px bold 'Lato', sans-serif;
}
.hours-info {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}
.social {
    margin-top: 60px;
    text-align: center;
}
.social-item {
  padding-right: 30px;
  text-transform: uppercase;
  font: 13px 'Coustard', serif;
  color: #000;
}
.social-item:hover {
  color: #000;
}
/*APPOINTMENT PAGE STYLE*/
#appt-img {
  background-image: url('https://source.unsplash.com/Z4_CHj4Mb28');
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
}
#appt-main {
  height: 800px;
}
#appt-header {
  background-color: #f6f4f4;
  height: 160px;
}
.section-links {
  color: #000 !important;
}
.appt-container {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  padding: 25px 60px;
  background-color: #fff;
  position: absolute;
  right: 0;
  left: 0;
  top: 260px;
}
#appt-title {
  text-align: center;
  margin: 0 0 25px;
  font: 24px 'Coustard', serif;
}
#appt-content {
  font: 15px 'Lato', sans-serif;
  text-align: justify;
}
form {
  margin: 30px 70px 10px;
  font-family: 'Coustard', serif;
  color: #000;
}
.form-control:focus {
    outline: none;
    box-shadow: none !important;
    border: 1.5px solid black !important;
}
.form-row {
  margin-bottom: 13px;
}
.appt-section {
  border: none !important;
  border-bottom: 1.5px solid !important;
}
.appt-border {
  border: 2px solid !important;
}
#appt-btn {
  padding: 7px 20px;
  font: 17px 'Coustard', serif;
  text-transform: uppercase;
}
/*STYLIST-PAGE STYLE*/
.second-logo {
  color: #000;
  font: 48px 'Abril Fatface', cursive;
}
.second-logo:hover  {
    text-decoration: none;
    color: #000;
}
#stylist-img {
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
}
#stylist-title {
  margin: 30px 0;
  text-align: center;
  text-transform: capitalize;
  font: 30px 'Coustard', serif;
}
.s-card-area {
  margin: 30px 0;
}
.s-card {
  padding: 60px 30px 30px;
  border-radius: 0 !important;
  height: 500px;
  background-color: #F6F4F4 !important;
  border: none !important;
  -webkit-box-shadow: -10px 10px 50px -15px #C9C9C8;
     -moz-box-shadow: -10px 10px 50px -15px #C9C9C8;
          box-shadow: -10px 10px 50px -15px #C9C9C8;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.stylist-img {
  height: 300px;
  width: 300px;
  display: block;
  margin: 0 auto;
}
.stylist-info {
  margin-top: 10px;
}
.stylist-button {
  border: 2.5px solid black !important;
  font-family: 'Coustard', serif;
  margin: 30px 0;
}
.stylist-button:hover {
  background-color: black !important;
}
